@using Oregon.Data.Model
@using Oregon.Data.Model.TeamProfile
@{
    var countries = ViewBag.Countries;
    var countrysTeams = ViewBag.CountrysTeams;
    var exactTeamProfile = ViewBag.ExactTeamProfile;
    Team teamInfo = null;
    Venue venueInfo = null;
    Manager managerInfo = null;
    Statistics statistics = null;
    List<Player> players = null;
    List<Jersey> jerseys = null;
    if (exactTeamProfile != null)
    {
        teamInfo = exactTeamProfile.Team;
        venueInfo = exactTeamProfile.Venue;
        managerInfo = exactTeamProfile.Manager;
        statistics = exactTeamProfile.Statistics;
        players = exactTeamProfile.Players;
        jerseys = exactTeamProfile.Jerseys;
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Takım Bilgileri</title>
    <style>
        .tablestyle td {
            border: 1px solid #000;
            padding: 7px;
        }
    </style>
</head>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
    <table>
        <tr>
            <td>
                <label>Ülke</label>
                <select class="select2" id="countryCode" name="countryCode">
                    @if (countries != null)
                    {
                        foreach (var country in countries)
                        {
                            <option value="@country.Value" selected="@country.Selected">@country.Text</option>
                        }
                    }
                </select>
            </td>
            <td>
                <select class="select2" id="teamId" name="teamId">
                    @if (countrysTeams != null)
                    {
                        foreach (var countryTeam in countrysTeams)
                        {
                            <option value="@countryTeam.Value" selected="@countryTeam.Selected">@countryTeam.Text</option>
                        }
                    }
                </select>
            </td>
        </tr>
    </table>
    <br /><br />

    <div id="teamProfile">
        <div>
            <tr>
                <td><strong>Takım Bilgileri </strong></td>
            </tr>
            <table style="border: 1px solid">
                <tr>

                    @if (teamInfo != null)
                    {
                    <tr>
                        <td>Kısaltması:</td>
                        <td>@teamInfo.Abbreviation</td>
                    </tr>
                    <tr>
                        <td>Ülkesi:</td>
                        <td>@teamInfo.Country</td>
                    </tr>
                    <tr>
                        <td>Ülke Kodu:</td>
                        <td> @teamInfo.Country_code</td>
                    </tr>
                        <tr>
                            <td>Oregon Id:</td>
                            <td> @teamInfo.Id</td>
                        </tr>
                        <tr>
                            <td>İsim:</td>
                            <td> @teamInfo.Name</td>
                        </tr>
                        <tr>
                            <td>Sportradar Id:</td>
                            <td> @teamInfo.TeamId</td>
                        </tr>
                    }
                    </tr>
                </table>
                <tr>
                    <td><strong>Antrenör Bilgileri:</strong></td>
                </tr>
                <table style="border: 1px solid">
                    <tr>

                        @if (managerInfo != null)
                        {
                        <tr>
                            <td>Id:</td>
                            <td>@managerInfo.ManagerId</td>
                        </tr>
                        <tr>
                            <td>Adı:</td>
                            <td>@managerInfo.Name</td>
                        </tr>
                        <tr>
                            <td>Köken:</td>
                            <td>@managerInfo.Nationality</td>
                        </tr>
                        <tr>
                            <td>Ülke Kodu:</td>
                            <td> @managerInfo.Country_code</td>
                        </tr>
                        }

                        </tr>
                    </table>
                    <tr>
                        <td><strong>Stat Bilgileri: </strong></td>
                    </tr>
                    <table style="border: 1px solid">
                        <tr>

                            @if (venueInfo != null)
                            {
                            <tr>
                                <td>Id:</td>
                                <td>@venueInfo.VenueId</td>
                            </tr>
                            <tr>
                                <td>Adı:</td>
                                <td>@venueInfo.Name</td>
                            </tr>
                            <tr>
                                <td>Kapasitesi:</td>
                                <td>@venueInfo.Capacity</td>
                            </tr>
                            <tr>
                                <td>Şehir Adı:</td>
                                <td> @venueInfo.City_name</td>
                            </tr>
                            <tr>
                                <td>Ülke Adı:</td>
                                <td> @venueInfo.Country_name</td>
                            </tr>
                            <tr>
                                <td>Harita Koordinatı:</td>
                                <td> @venueInfo.Map_coordinates</td>
                            </tr>
                            <tr>
                                <td>Ülke Kodu:</td>
                                <td> @venueInfo.Country_code</td>
                            </tr>
                            }
                        </table>
                        <tr>
                            <td>
                                <strong>
                                    Oyuncular
                                </strong>
                            </td>
                        </tr>
                        @if (players != null)
            {
                foreach (var item in players)
                {
                                <table style="border: 1px solid">
                                    <tr>
                                        <td>Adı:</td>
                                        <td>@item.Name</td>
                                    </tr>

                                    <tr>
                                        <td>Doğum Tarihi:</td>
                                        <td>@item.Date_of_birth</td>
                                    </tr>

                                    <tr>
                                        <td>Boy:</td>
                                        <td>@item.Height</td>
                                    </tr>


                                    <tr>
                                        <td>Kilo:</td>
                                        <td>@item.Weight</td>
                                    </tr>


                                    <tr>
                                        <td>Forma No:</td>
                                        <td>@item.Jersey_number</td>
                                    </tr>

                                    <tr>
                                        <td>Köken:</td>
                                        <td>@item.Nationality</td>
                                    </tr>

                                    <tr>
                                        <td>Sportradar Id:</td>
                                        <td>@item.PlayerId</td>
                                    </tr>

                                    <tr>
                                        <td>Ayak:</td>
                                        <td>@item.Preferred_foot</td>
                                    </tr>

                                    <tr>
                                        <td>Mevki:</td>
                                        <td>@item.type</td>
                                    </tr>

                                </table>
                            }
                        }
                        @*<table style="border: 1px solid #000; padding: 7px; float: left;">

                                <tr>
                                    <td>İstatistikler: </td>
                                    <td>GELECEK</td>
                                </tr>
                            </table>*@
                        <tr>
                            <td>
                                <strong>
                                    Formalar
                                </strong>
                            </td>
                        </tr>
                        <tr>
                            @if (jerseys != null)
                            {
                                foreach (var item in jerseys)
                                {
                                    <table style="border: 1px solid">
                                        <tr>
                                            <td>Base</td>
                                            <td>@item.Base</td>
                                        </tr>
                                        <tr>
                                            <td>Çubuklu</td>
                                            <td>@item.Horizontal_stripes</td>
                                        </tr>
                                        <tr>
                                            <td>Numara</td>
                                            <td>@item.Number</td>
                                        </tr>
                                        <tr>
                                            <td>Tipi</td>
                                            <td>@item.Shirt_type</td>
                                        </tr>
                                        <tr>
                                            <td>Kol</td>
                                            <td>@item.Sleeve</td>
                                        </tr>
                                        <tr>
                                            <td>Kol Detayı</td>
                                            <td>@item.Sleeve_detail</td>
                                        </tr>
                                        <tr>
                                            <td>Parça</td>
                                            <td>@item.Split</td>
                                        </tr>
                                        <tr>
                                            <td>Kareler</td>
                                            <td>@item.Squares</td>
                                        </tr>
                                        <tr>
                                            <td>Çubuklar</td>
                                            <td>@item.Stripes</td>
                                        </tr>
                                        <tr>
                                            <td>Çubuk Rengi</td>
                                            <td>@item.Stripes_color</td>
                                        </tr>
                                    </table>
                                }
                            }
                        </tr>

                    </div>
                </div>
            </body>

        </html>
        <script type="text/javascript">
            $(function () {
                $("#countryCode")
                    .change(function () {
                        window.location = getLocationUrl() + '?countryCode=' + this.value;
                    });

                $("#teamId")
                    .change(function () {

                        var countryCode = $("#countryCode").val();

                        window.location = getLocationUrl() + '?countryCode=' + countryCode + '&teamId=' + this.value;
                    });
            });

            function getLocationUrl() {
                return window.location.href.split('?')[0];
            }
        </script>