@using Oregon.Data.Model
@using Oregon.Data.Model.TeamProfile
@{
    var countries = ViewBag.Countries;
    var countrysTeams = ViewBag.CountrysTeams;
    var exactTeamProfile = ViewBag.ExactTeamProfile;
    Team teamInfo = null;
    Venue venueInfo = null;
    Manager managerInfo = null;
    Statistics statistics = null;
    if (exactTeamProfile != null)
    {
        teamInfo = exactTeamProfile.Team;
        venueInfo = exactTeamProfile.Venue;
        managerInfo = exactTeamProfile.Manager;
        statistics = exactTeamProfile.Statistics;
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Takım Bilgileri</title>
    <style>
        .tablestyle td {
            border: 1px solid #000;
            padding: 7px;
        }
    </style>
</head>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
    <table>
        <tr>
            <td>
                <label>Ülke</label>
                <select class="select2" id="countryCode" name="countryCode">
                    @if (countries != null)
                    {
                        foreach (var country in countries)
                        {
                            <option value="@country.Value" selected="@country.Selected">@country.Text</option>
                        }
                    }
                </select>
            </td>
            <td>
                <select class="select2" id="teamId" name="teamId">
                    @if (countrysTeams != null)
                    {
                        foreach (var countryTeam in countrysTeams)
                        {
                            <option value="@countryTeam.Value" selected="@countryTeam.Selected">@countryTeam.Text</option>
                        }
                    }
                </select>
            </td>
        </tr>
    </table>
    <br /><br />

    <div id="teamProfile">
        <div style="display: inline-block; float: left; width: 250px;">
            <table style="border:1px solid #000; padding:7px; float: left;">
                <tr>
                <tr>
                    <td>Takım Bilgileri : </td>
                </tr>
                @if (teamInfo != null)
                {
                    <tr>
                        <td>Kısaltması:</td>
                        <td>@teamInfo.Abbreviation</td>
                    </tr>
                    <tr>
                        <td>Ülkesi:</td>
                        <td>@teamInfo.Country</td>
                    </tr>
                    <tr>
                        <td>Ülke Kodu:</td>
                        <td> @teamInfo.Country_code</td>
                    </tr>
                    <tr>
                        <td>Oregon Id:</td>
                        <td> @teamInfo.Id</td>
                    </tr>
                    <tr>
                        <td>İsim:</td>
                        <td> @teamInfo.Name</td>
                    </tr>
                    <tr>
                        <td>Sportradar Id:</td>
                        <td> @teamInfo.TeamId</td>
                    </tr>
                }
                </tr>
            </table>
            <table style="border:1px solid #000; padding:7px; float: left;">
                <tr>
                <tr>
                    <td>Antrenör Bilgileri : </td>
                </tr>
                @if (managerInfo != null)
                {
                    <tr>
                        <td>Id:</td>
                        <td>@managerInfo.ManagerId</td>
                    </tr>
                    <tr>
                        <td>Adı:</td>
                        <td>@managerInfo.Name</td>
                    </tr>
                    <tr>
                        <td>Köken:</td>
                        <td>@managerInfo.Nationality</td>
                    </tr>
                    <tr>
                        <td>Ülke Kodu:</td>
                        <td> @managerInfo.Country_code</td>
                    </tr>
                }

                </tr>
            </table>

            <table style="border:1px solid #000; padding:7px; float: left;">
                <tr>
                <tr>
                    <td>Stat Bilgileri : </td>
                </tr>
                @if (venueInfo != null)
                {
                    <tr>
                        <td>Id:</td>
                        <td>@venueInfo.VenueId</td>
                    </tr>
                    <tr>
                        <td>Adı:</td>
                        <td>@venueInfo.Name</td>
                    </tr>
                    <tr>
                        <td>Kapasitesi:</td>
                        <td>@venueInfo.Capacity</td>
                    </tr>
                    <tr>
                        <td>Şehir Adı:</td>
                        <td> @venueInfo.City_name</td>
                    </tr>
                    <tr>
                        <td>Ülke Adı:</td>
                        <td> @venueInfo.Country_name</td>
                    </tr>
                    <tr>
                        <td>Harita Koordinatı:</td>
                        <td> @venueInfo.Map_coordinates</td>
                    </tr>
                    <tr>
                        <td>Ülke Kodu:</td>
                        <td> @venueInfo.Country_code</td>
                    </tr>
                }
            </table>
            <table style="border:1px solid #000; padding:7px; float: left;">

                <tr>
                    <td>İstatistikler: </td>
                    <td>GELECEK</td>
                </tr>
            </table>

            <table style="border:1px solid #000; padding:7px; float: left;">
                <tr>
                    <td>Formalar: </td>
                    <td>GELECEK</td>
                </tr>
            </table>
            <table style="border:1px solid #000; padding:7px; float: left;">
                <tr>
                    <td>Oyuncular: </td>
                    <td>GELECEK</td>
                </tr>
            </table>
        </div>
    </div>
</body>

</html>
<script type="text/javascript">
    $(function () {
        $("#countryCode")
            .change(function () {
                window.location = getLocationUrl() + '?countryCode=' + this.value;
            });

        $("#teamId")
            .change(function () {

                var countryCode = $("#countryCode").val();

                window.location = getLocationUrl() + '?countryCode=' + countryCode + '&teamId=' + this.value;
            });
    });

    function getLocationUrl() {
        return window.location.href.split('?')[0];
    }
</script>
@*

        $(document)
            .ready(function() {
                var sportId = $("#sportId").val();
                var sportName = $("#sportId option:selected").text();
                var uniqueTournamentId = $("#uniqueTournamentId").val();
                var uniqueTournament = $("#uniqueTournamentId option:selected").text();
                var tournamentId = $("#tournamentId").val();
                var tournament = $("#tournamentId option:selected").text();

                if (tournamentId) {
                    $("#tournamentInfo")
                        .html('<table><tr><td><table class="tablestyle">' +
                            '<tr><td><b>Spor Id : ' +
                            sportId +
                            '</b></td></tr>' +
                            '<tr><td><b>Spor : ' +
                            sportName +
                            '</b></td></tr>' +
                            '</table></td><td><table class="tablestyle">' +
                            '<tr><td><b>Tekil Lig : ' +
                            uniqueTournament +
                            '</b></td></tr>' +
                            '<tr><td><b>Tekil Lig Id : ' +
                            uniqueTournamentId +
                            '</b></td></tr>' +
                            '</table></td><td><table class="tablestyle">' +
                            '<tr><td><b>Lig : ' +
                            tournament +
                            '</b></td></tr>' +
                            '<tr><td><b>Lig Id : ' +
                            tournamentId +
                            '</b></td></tr>' +
                            '</table></td></tr></table></br></br>'
                        );
                }

                $('#social-networks')
                    .click(function() {

                        if(@selectedteam.Id != null){
                            window.location
                                .href = "http://devsportcenterweb.hurriyet.com.tr/home/teamupdate?sportId=" +
                                sportId +
                                "&uniqueTournamentId=" +
                                uniqueTournamentId +
                                "&tournamentId=" +
                                tournamentId +
                                    "&teamId=@selectedteam.Id";
                        }
                    });
            });
    </script>*@